*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'oswald', sans-serif;
}
header{
    background-color: aqua;
    padding: 26px 0;
    border-bottom: 1.5px solid red;
}
.header_container{
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    width: 100%;
}
.header_container nav ul{
    display: flex;
    }
header a{
    margin-right: 15px;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    transition: 0.3s;
    text-decoration: none;
}    
.header_container a.active,
.header_container a:hover{
    color: #e62b4a;
}
header li{
    list-style: none;
}
.header_container .logo{
    font-size: 2rem;
}
/* end header */
/* start banner */
.banner{
    background-image: url(./newimage-video/image-video/home_slider.jpg);
    height: 100vh;

}